@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --accent-primary: #FFE6E6;
    --accent-secondary: #f2f2f2;
    --red: #D10000;
    --redDark: #1A0000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-brandAccent: var(--accent-secondary);
    --color-brandAccentRed: var(--accent-primary);
    --color-brandRed: var(--red);
    --color-brandDark: var(--redDark);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

/* body {
    background: var(--background);
    color: var(--foreground);
} */

html {
    scroll-behavior: smooth;
}

.nav-icon-2 {
    width: 30px;
    height: 25px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.nav-icon-2 span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-2 span:nth-child(1) {
    width: 100%;
    height: 4px;
    display: block;
    top: 0px;
    left: 0px;
}

.nav-icon-2 span:nth-child(2) {
    width: 100%;
    height: 4px;
    display: block;
    top: 11px;
    left: 0px;
}

.nav-icon-2 span:nth-child(3) {
    width: 100%;
    height: 4px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.nav-icon-2:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 4px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-2:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 4px;
    display: block;
    top: 13px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-2:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 4px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.nav-icon-2.open span:nth-child(1) {
    left: 3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
}

.nav-icon-2.open span:nth-child(2) {
    left: 2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
}

.nav-icon-2.open span:nth-child(3) {
    left: 14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
}

.glass-cardNav {

    background: rgba(0, 0, 0, 0.638);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.glass-carddrop {

    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.glass-carddrop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            transparent);
}

.glass-carddrop::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.1),
            transparent,
            rgba(255, 255, 255, 0.1));
}


.pulse-wave {
    animation: pulseWave 1.4s infinite;
}

@keyframes pulseWave {
    0% {
        box-shadow: 0 0 0 0 rgba(242, 242, 242, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 231, 231, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 169, 169, 0);
    }
}

.coreGradient{
  @apply bg-gradient-to-r from-[#0b090a] to-[#ba181b];
}

.coreGradient-text{
  @apply bg-gradient-to-r from-[#0b090a] to-[#ba181b] bg-clip-text text-transparent;
}
.glass-card {

  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}

